.course-card {
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
  /* padding-left: 100px; */
  /* align-items: center;
  justify-items: center;
  display: grid;
  grid-auto-flow: column;
  gap: 4px; */
  /* margin: 0 auto; */
}

.portfolio-gallery {
  justify-content: center;
  padding-top: 40px;
  align-items: center;
  padding-left: 200px;
  /* padding-right: 100px; */
  /* text-align: center; */
}

.courses {
  background-color: red;
}
.certificates {
  background-color: blue;
}
.certificates:hover {
  background-color: red;
}
.diplomas {
  background-color: blue;
}
.diplomas:hover {
  background-color: red;
}

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  /* text-align: center; */
}

.btn-group button {
  padding: 10px 24px;
  /* float: left; */
  /* display: table; */
  /* margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center; */
}

.btn-group::after {
  content: "";
  clear: both;
  display: table;
  /* text-align: center; */
}

button {
  text-align: center;
}

form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  /* float: left; */
  width: 80%;
  background: white;
  outline: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  /* height: 100%; */
  /* line-height: 18px; */
}

form.search input[placeholder] {
  text-align: center;
  line-height: 30px;
}
form button {
  line-height: 30px;
}

form {
  text-align: center;
}

form.search button {
  /* float: right; */
  width: 10%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  padding-left: -5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  outline: none;
  cursor: pointer;
  /* height: 100%; */
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}
/* 
form.course-search input[type="text"] {
  font-size: 17px;
  float: left;
  width: 50%;
  background: #f1f1f1;
  border: 2px solid white;
  padding: 10px;
  /* box-sizing: border-box; */
/* border-right: none; */
/* border-radius: 10px 140px 30px 140px; */
/* flex: 1 1 auto; */
/* 
form.course-search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: blue;
  color: white;
  font-size: 17px;
  border: 2px solid white;
  border-left: none;
  cursor: pointer;
}

form.course-search button:hover {
  background: red;
}

form.course-search::after {
  content: "";
  clear: both;
  display: table;
} */

/* form {
  padding-top: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 25%;
} */
